In [1]:
my_string = "hello world"

In [2]:
my_string

'hello world'

In [3]:
my_string[0]

'h'

In [4]:
my_string[4]

'o'

In [5]:
my_string[-1]

'd'

In [6]:
my_string[-2]

'l'

In [7]:
my_string2 = "1234567890"

In [8]:
my_string2[0]

'1'

In [9]:
my_string2[2:]

'34567890'

# SLICING

In [10]:
my_string2[4:]

'567890'

In [11]:
my_string2[:2]

'12'

In [12]:
my_string2[:5]

'12345'

# stopping index

In [13]:
my_string2[2:4]

'34'

In [14]:
 my_string2[4:10]

'567890'

In [15]:
my_string2[9:9]

''

In [16]:
my_string2[8:9]

'9'

# step size

In [17]:
my_string2[::]

'1234567890'

In [18]:
my_string2[::3]

'1470'

# [::3]  bu 3 er 3 er atla demek

In [19]:
my_string2[::2]

'13579'

In [20]:
my_string2[2:4:2]

'3'

In [21]:
my_string2[::-1]

'0987654321'

# [::-1]  bu tersten yazdÄ±r demek

# STRING METHODS

In [22]:
my_name = "tunahan"

In [23]:
my_name.capitalize

In [24]:
my_name.capitalize()

'Tunahan'

In [25]:
my_name

'tunahan'

In [26]:
my_name_capitalized  = my_name.capitalize()

In [27]:
my_name_capitalized

'Tunahan'

In [28]:
my_name ="tunahan burak dirlik"

In [30]:
my_name.split()

['tunahan', 'burak', 'dirlik']

In [31]:
my_name_split = my_name.split()

In [32]:
my_name_split

['tunahan', 'burak', 'dirlik']

In [33]:
my_name_split[0]

'tunahan'

In [36]:
my_number = 123

In [37]:
my_name.upper()

'TUNAHAN BURAK DIRLIK'

# LISTS