In [1]:
"hello wprld1"

'hello wprld1'

In [2]:
x= "hello world"

In [3]:
len(x)

11

In [4]:
print(x)

hello world

In [5]:
print(x+ " " + x)

hello world hello world

In [6]:
print("hello \nworld")

hello
world

In [7]:
print("hello \t world")

hello 	 world

In [8]:
my_string = "hello world"

In [9]:
my_string

'hello world'

In [10]:
my_string[2]

'l'

In [11]:
my_string.capitalize

In [12]:
my_string.capitalize()

'Hello world'

In [13]:
my_string[-1]

'd'

In [14]:
my_string[-2]

'l'

In [15]:
my_string[2:]

'llo world'

In [16]:
my_string[3:]

'lo world'

In [17]:
my_string[2:4]

'll'

In [18]:
numbers = "123456789"

In [19]:
numbers

'123456789'

In [20]:
numbers[2:4]

'34'

In [21]:
numbers[::]

'123456789'

In [22]:
numbers[5:8]

'678'

In [23]:
NUMBERS = "0123456789"

In [24]:
NUMBERS

'0123456789'

In [25]:
NUMBERS

'0123456789'

In [26]:
NUMBERS[::]

'0123456789'

In [27]:
NUMBERS[::3]

'0369'

In [28]:
NUMBERS[::-1]

'9876543210'

In [29]:
NUMBERS[::-2]

'97531'

In [30]:
NUMBERS[2:4:2]

'2'

In [31]:
x=3

In [32]:
y=5

In [33]:
x+y

8

In [34]:
x**y

243

In [35]:
type(x)

int

In [36]:
type(x/y)

float

In [37]:
takeinput = input("INPUT: ")

INPUT: 15

In [38]:
type(takeinput)

str

In [39]:
deneme1= input()

5

deneme1

In [40]:
print(deneme1)

5

In [41]:
deneme2= input("input2: ")

input2: tytytY

In [42]:
print(deneme2)

tytytY

In [43]:
type(deneme2)

str

In [44]:
take_input3= input("input: ")

input: 789

In [45]:
input4 = input("input: ")

input: 123

In [46]:
type(input4)

str

In [47]:
integerinput4= int(input4)

In [48]:
type(integerinput4)

int

In [49]:
my_name = "burak"

In [50]:
my_name.capitalize()

'Burak'

In [51]:
my_name

'burak'

In [52]:
my_name_capitalized = my_name.capitalize()

In [53]:
print(my_name_capitalized)

Burak

In [54]:
my_name = "tunahan burak dirlik"

In [55]:
my_name.split()

['tunahan', 'burak', 'dirlik']

In [56]:
my_name_split = my_name.split()

In [57]:
my_name_split

['tunahan', 'burak', 'dirlik']

In [58]:
my_name_split[2]

'dirlik'

In [59]:
my_name_split[::]

['tunahan', 'burak', 'dirlik']

In [60]:
my_name_split[::-1]

['dirlik', 'burak', 'tunahan']

In [61]:
my_name_split[::-2]

['dirlik', 'tunahan']

In [62]:
my_number= 123

In [63]:
my_name

'tunahan burak dirlik'

In [64]:
my_name.upper()

'TUNAHAN BURAK DIRLIK'

In [65]:
my_name.lower()

'tunahan burak dirlik'

In [66]:
"james"*10

'jamesjamesjamesjamesjamesjamesjamesjamesjamesjames'

In [67]:
james*10*10

NameError: name 'james' is not defined

In [68]:
"james"*10*10

'jamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjames'

In [69]:
name = "tunahan burak"

In [70]:
surname = "dirlik"

In [71]:
fullname = name + surname

In [72]:
fullname

'tunahan burakdirlik'

In [73]:
fullname = name +  " " + surname

In [74]:
fullname

'tunahan burak dirlik'

In [75]:
my_string = "hello world"

In [76]:
my_string

'hello world'

In [77]:
my_string[0]

'h'

In [78]:
my_string[-1]

'd'

In [79]:
my_string[2:]

'llo world'

In [80]:
my_string[4:]

'o world'

In [81]:
my_string[2:4]

'll'

In [82]:
my_string[4:10]

'o worl'

In [83]:
my_string[::]

'hello world'

In [84]:
my_string[::2]

'hlowrd'

In [85]:
my_string[2:4:2]

'l'

In [86]:
my_string[::-1]

'dlrow olleh'

In [87]:
# set yapısı

In [88]:
# set yapısında aynı eleman birden fazla olamıyor

In [89]:
my_list = [1,2,3]

In [90]:
my_list

[1, 2, 3]

In [91]:
my_list = set(my_list)

In [92]:
my_list

{1, 2, 3}

In [93]:
my_set_2 = {1,2,3,1,2}

In [94]:
my_set_2

{1, 2, 3}

In [95]:
type(my_set_2)

set

In [96]:
my_set_3={"a","b","a"}

In [97]:
my_set_3

{'a', 'b'}

In [98]:
my_list0= []

In [99]:
type(my_list0)

list

In [100]:
type(my_list0)

list

In [101]:
my_list0

[]

In [102]:
my_list0.append(1)

In [103]:
my_list0

[1]

In [104]:
my_set_4= {}

In [105]:
my_set_4

{}

In [106]:
type(my_set_4)

dict

In [107]:
my_set_4["key1"] = 1

In [108]:
my_set_4

{'key1': 1}

In [109]:
type(my_set_4)

dict

In [110]:
my_set_5= set()

In [111]:
my_set_5

set()

In [112]:
my_set_5.add(1)

In [113]:
my_set_5

{1}

In [114]:
my_set_5.add(1)

In [115]:
my_set_5

{1}

In [116]:
type(my_set_5)

set

In [117]:
my_dict_2=dict()

In [118]:
my_dict_2["key1"]= 1

In [119]:
my_dict_1["key2"]=2

NameError: name 'my_dict_1' is not defined

In [120]:
my_dict_2["key2"]=2

In [121]:
my_dict_2

{'key1': 1, 'key2': 2}

In [122]:
my_list_10

NameError: name 'my_list_10' is not defined

In [123]:
my_list_10 = list()

In [124]:
type(my-list_10)

NameError: name 'my' is not defined

In [125]:
type(my_list_10)

list

In [126]:
my_list_10

[]

In [127]:
my_list_10.append("a")

In [128]:
my_list_10.append("5")

In [129]:
my_list_10

['a', '5']

In [130]:
my_list_10.append[[1,2]]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [131]:
my_list_10.append([1,2])

In [132]:
#tuple yapısında elemanlar değişmezdir immutable dır

In [133]:
my_tuple = (1,2,"a")

In [134]:
my_tuple[0]

1

In [135]:
#tuple yapısı aynı zamanda dizi gibidir

In [136]:
my_tuple_2 = (1,1,1,"a","c")

In [137]:
my_tuple_2.count(1)

3

In [138]:
my_tuple.count(2)

1

In [139]:
my_tuple-2.count(2)

SyntaxError: invalid syntax (<ipython-input-139-fe9b0a369810>, line 1)

In [140]:
my_tuple_2.count(2)

0

In [141]:
my_tuple_2.index("c")

4

In [142]:
#boolean yapısı

In [143]:
True

True

In [144]:
False

False

In [145]:
true

NameError: name 'true' is not defined

In [146]:
my_boolean = True

In [147]:
my_boolen = False

In [148]:
my_boolean = False

In [149]:
my_boolean

False

In [150]:
is_dead = False

In [151]:
5 > 3

True

In [152]:
5 < 3

False

In [153]:
x = 5

In [154]:
y = input ("y : ")

y : 45

In [155]:
type (y )

str

In [156]:
y_int = int (y)

In [157]:
y_int

45

In [158]:
y_int = float (y)

In [159]:
type (y)

str

In [160]:
xx = 500

In [161]:
floatturn= float (xx)

In [162]:
floatturn

500.0

In [163]:
type (floatturn)

float

In [165]:
my_new_string = "QUENTİTARANTİNO"

In [166]:
my_new_string.reverse()

AttributeError: 'str' object has no attribute 'reverse'

In [167]:
my_new_string = "quentintarantino"

In [168]:
my_new_string

'quentintarantino'

In [169]:
my_new_string.reverse ()

AttributeError: 'str' object has no attribute 'reverse'

In [170]:
my_new_string[::-1]

'onitnaratnitneuq'

In [171]:
my_dictionary = {"key1":1, "key2":2, "key3": 3}

In [172]:
my_dictionary

{'key1': 1, 'key2': 2, 'key3': 3}

In [173]:
my_list_to_be_set =  [11,22,33,44,55,66]

In [174]:
my_list_to_be_set

[11, 22, 33, 44, 55, 66]

In [175]:
my_new_set = set (my_list_to_be_set)

In [176]:
mey_new_set

NameError: name 'mey_new_set' is not defined

In [177]:
m,y_new_set

NameError: name 'm' is not defined

In [178]:
my_new_set

{11, 22, 33, 44, 55, 66}

In [179]:
# kontroller ve döngüler

In [180]:
x = 5

In [181]:
y = 5

In [182]:
x>y

False

In [183]:
x ==  y

True

In [184]:
z = 4

In [185]:
x != y

False

In [186]:
2 <1 and 3  > 2

False

In [187]:
2>1 and 3 > 2

True

In [188]:
2<1 or 3 > 2

True

In [189]:
x = not 10

In [190]:
x

False

In [191]:
not 10 == 10

False

In [192]:
if 3>2:
    print ("3 is greater than 2 ")

3 is greater than 2

In [193]:
if 3< 2:

SyntaxError: unexpected EOF while parsing (<ipython-input-193-f7c3c0d3936b>, line 1)

In [194]:
if 3<2:

SyntaxError: unexpected EOF while parsing (<ipython-input-194-027e5105396e>, line 1)

In [195]:
if 3<2:
    print("it is false statement ")

In [196]:
if x >y :
    print ("x is greater ")

In [197]:
x = 4

In [198]:
y = 4

In [199]:
if x >y :
    print ("x is greater ")
elif x ==y :
    print ("x is equal to y ")
else:
    print("y is greater ")

x is equal to y

In [200]:
my_superhero = input("superhero: ")

superhero: any

In [201]:
if my_superhero == "batman":
    print("batmaaaan")
elif my_superhero == "superman":
    print ("supermaaan")
else:
    print(":()")

:()

In [202]:
a = 10

In [203]:
b = 15

In [204]:
c = 20

In [205]:
if a> b or b<c:
    print("superman")
elif a<b and b>c:
    print("batman")

superman

In [206]:
if isDead = False:
    print("character is not dead")
else:
    print("character is dead ")

SyntaxError: invalid syntax (<ipython-input-206-8c9380b60ab3>, line 1)

In [207]:
if isDead == False:
    print("character is not dead")
else:
    print("character is dead ")

NameError: name 'isDead' is not defined

In [208]:
isDead = False
if isDead = False:
    print("character is not dead")
else:
    print("character is dead ")

SyntaxError: invalid syntax (<ipython-input-208-2d2d87ed4c48>, line 2)

In [209]:
isDead = False
if isDead == False:
    print("character is not dead")
else:
    print("character is dead ")

character is not dead

In [210]:
my_string = "hello world"

In [211]:
if my_string == "hello world":
    print("equal")
else:
    print("not equal ")

equal

In [212]:
my_list = [1,2,3,4,5,6,7,8,9]

In [213]:
if 2 in my_list:
    print ("true")
else:
    print("false")

true

In [214]:
my_list = [1,2,3,4,5,6,7,8,9]

In [215]:
for number in my_list:
    print(number)

1
2
3
4
5
6
7
8
9

In [216]:
for i in my_list:
    print(i**5)

1
32
243
1024
3125
7776
16807
32768
59049

In [217]:
for i in my_list:
    print(i**9)

1
512
19683
262144
1953125
10077696
40353607
134217728
387420489

In [ ]:
for i in my_list:
    print(i**9**9)

In [ ]:
for i in my_list:
    print(i**20)

In [ ]:
for i in my_list:
    print(i**10)

In [ ]:
for i in my_list:
    print(i**5)

In [ ]:
for i in my_list:
    print(i)

In [ ]:
print(my_list[::])

In [ ]:
print(my_list[::-1])

In [ ]:
list2 = [1,2,3,4,5,6,7,8,9]

In [ ]:
for i in list2:
    new_nu