# useful methods

In [10]:
my_list = [1,2,3,4,5,6,7,8,9]
# range method

In [3]:
for number in my_list:
    print(number)

1
2
3
4
5
6
7
8
9

In [4]:
range(2)

range(0, 2)

In [5]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [6]:
for number in list(range(20)):
    print(number*5)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [7]:
for num in list(range(5,20)):
    print(num)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [8]:
for num in list(range(5,20,3)):
    print(num)

5
8
11
14
17

# enumarate

In [14]:
index = 0
for number in list (range(0,10)):
    print(f"no: {number} ix: {index}")
    index +=1

no: 0 ix: 0
no: 1 ix: 1
no: 2 ix: 2
no: 3 ix: 3
no: 4 ix: 4
no: 5 ix: 5
no: 6 ix: 6
no: 7 ix: 7
no: 8 ix: 8
no: 9 ix: 9

In [16]:
for element in enumerate( list (range(5,15))):
    print(element)

(0, 5)
(1, 6)
(2, 7)
(3, 8)
(4, 9)
(5, 10)
(6, 11)
(7, 12)
(8, 13)
(9, 14)

In [18]:
for (index,number) in enumerate(list(range(5,15))):
    print(index, number)

0 5
1 6
2 7
3 8
4 9
5 10
6 11
7 12
8 13
9 14

# random

In [19]:
from random import randint

In [20]:
randint(0,1000)

425

In [21]:
randint(0,1000)

306

In [22]:
my_list_2 = list(range(0,10))

In [25]:
from random import shuffle

In [26]:
shuffle (my_list_2)

In [27]:
my_list_2

[9, 7, 6, 8, 0, 1, 3, 5, 4, 2]

# zip

In [29]:
sport_list = ["run", "swim", "basketball"]

In [30]:
calories_list = [100,200,300]

In [31]:
day_list = ["monday", "tuesday", "wednesday"]

In [32]:
new_list = list (zip(sport_list, calories_list, day_list))

In [33]:
new_list

[('run', 100, 'monday'),
 ('swim', 200, 'tuesday'),
 ('basketball', 300, 'wednesday')]

In [34]:
for element in new_list:
    print(element)

('run', 100, 'monday')
('swim', 200, 'tuesday')
('basketball', 300, 'wednesday')

# list advanced

In [35]:
new_list = []

In [36]:
new_list.append(1)

In [37]:
new_list

[1]

In [38]:
new_list.pop()

1

In [39]:
new_list

[]

In [40]:
my_string = "metallica"

In [41]:
for element in my_string:
    new_list.append(element)

In [42]:
new_list

['m', 'e', 't', 'a', 'l', 'l', 'i', 'c', 'a']

In [44]:
new_list2 = [element for element in my_string]

In [45]:
new_list2

['m', 'e', 't', 'a', 'l', 'l', 'i', 'c', 'a']

In [53]:
new_list3 = [number**5 for number in list (range(0,10))]

In [54]:
new_list3

[0, 1, 32, 243, 1024, 3125, 7776, 16807, 32768, 59049]