In [1]:
my_list = [1,2,3,4,5]

In [2]:
for i in my_list:
    print(i)

1
2
3
4
5

In [3]:
for i in my_list:
    new_number = i*5

In [4]:
for i in my_list:
    new_number = i*5
    print(new_number)

5
10
15
20
25

In [5]:
10%2

0

In [6]:
if 2 in my_list:
    print("true")

true

In [8]:
for num in my_list:
    if num ==2:
        print("true")
    else:
        print(num)

1
true
3
4
5

In [9]:
my_string = "tunahan burak dirlik"
my_string[0]

't'

In [10]:
for letter in my_string:
    print(letter)

t
u
n
a
h
a
n

b
u
r
a
k

d
i
r
l
i
k

In [12]:
my_tuple = (1,2,3,4444)

for item in my_tuple:
    print(item)

1
2
3
4444

In [13]:
my_new_list = [("a","b"), ("c","d"), ("e","f")]

In [14]:
for i in my_new_list:
    print(i)

('a', 'b')
('c', 'd')
('e', 'f')

In [15]:
for (x,y) in my_new_list:
    print(x,y)

a b
c d
e f

In [17]:
my_tuple_list = [(0,1,2,),(3,4,5)]

In [20]:
for (x,y,z) in my_tuple_list:
    print(y)

1
4

In [21]:
my_dictionary = {"key1":100, "key2":200, "key3":300}

In [23]:
for key,value in my_dictionary.items():
    print(key)

key1
key2
key3

In [24]:
my_list = [10,20,30,40,50,0,70,80,90]

In [26]:
for number in my_list :
    print(number*5)

50
100
150
200
250
0
350
400
450

In [28]:
for i in my_list:
    if i == 50:
        break
    print(i)

10
20
30
40

In [29]:
#break döngüyü direk kırar

In [34]:
for i in my_list :
    if num == 0:
        continue
    print(i)

10
20
30
40
50
0
70
80
90

In [35]:
liste00 = [0,1,2,3,4,5,6,7,8,9]

In [40]:
for i in liste00 :
    if i == 5:
        break
    print (i)

0
1
2
3
4

In [41]:
for no in liste00:
    pass

In [42]:
# while loop

In [45]:
a = 0
while a < 5:
    #;print ("hello ")
    a = a + 1
    print (a)

1
2
3
4
5

In [46]:
liste00.pop()

9

In [47]:
liste00

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [48]:
liste00.append(10)

In [49]:
liste00

[0, 1, 2, 3, 4, 5, 6, 7, 8, 10]

In [50]:
liste00.pop()

10

In [51]:
liste00.pop().pop().pop()

AttributeError: 'int' object has no attribute 'pop'

In [52]:
clear

In [53]:
p = 0

In [54]:
while p < 20:
    print ("value p : " + str (p))
    p +=1

value p : 0
value p : 1
value p : 2
value p : 3
value p : 4
value p : 5
value p : 6
value p : 7
value p : 8
value p : 9
value p : 10
value p : 11
value p : 12
value p : 13
value p : 14
value p : 15
value p : 16
value p : 17
value p : 18
value p : 19

In [55]:
x = 0

In [58]:
while x < 10:
    print(f"value p: {x}")
    x+=1

value p: 0
value p: 1
value p: 2
value p: 3
value p: 4
value p: 5
value p: 6
value p: 7
value p: 8
value p: 9

In [59]:
# bu kullanımda x integer değeri string içinde int olarak kullanabilirsin

In [60]:
#useful methods

In [61]:
my_list = [1,2,3,4,5,6,7,8,9]

In [62]:
range(2)

range(0, 2)

In [64]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [65]:
list(range(25))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

In [66]:
list

list

In [67]:
list()

[]

In [68]:
a = list(range(25))

In [69]:
a

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

In [70]:
type (a)

list

In [72]:
for number in list(range(10)):
    print(number*5)

0
5
10
15
20
25
30
35
40
45

In [76]:
for num in list(range(5,20,2)):
    print(num)

5
7
9
11
13
15
17
19

In [77]:
#enumerate

In [78]:
index = 0

In [79]:
for number in list (range (0,10)):
    print(f"no: {number}  ix: {index}")
    index +=1

no: 0  ix: 0
no: 1  ix: 1
no: 2  ix: 2
no: 3  ix: 3
no: 4  ix: 4
no: 5  ix: 5
no: 6  ix: 6
no: 7  ix: 7
no: 8  ix: 8
no: 9  ix: 9

In [80]:
for element in enumerate (list ( range( 5, 15))):
    print(element)

(0, 5)
(1, 6)
(2, 7)
(3, 8)
(4, 9)
(5, 10)
(6, 11)
(7, 12)
(8, 13)
(9, 14)

In [81]:
from random import randint 
randint (0,1000)

156

In [82]:
x = randint(0,5000)

In [83]:
x

1980

In [84]:
x

1980

In [85]:
x

1980

In [86]:
my_list_2 = list(range(0,10))

In [87]:
from random import shuffle
shuffle (my_list_2)
print(my_list_2[::])

[9, 2, 5, 7, 3, 1, 6, 4, 8, 0]

In [88]:
print(my_list_2[::])

[9, 2, 5, 7, 3, 1, 6, 4, 8, 0]

In [89]:
my_list_2

[9, 2, 5, 7, 3, 1, 6, 4, 8, 0]

In [91]:
#zip usage

In [92]:
sport_list = ["run", "swim", "basketball"]

In [93]:
calories_list  = [ 100,200,300]

In [94]:
new_list = list (zip( sport_list, calories_list))

In [95]:
new_list

[('run', 100), ('swim', 200), ('basketball', 300)]

In [96]:
for i in new_list:
    print (i)

('run', 100)
('swim', 200)
('basketball', 300)

In [97]:
#list advanced

In [99]:
new_list = []

In [100]:
new_list.append(1)

In [101]:
new_list

[1]

In [102]:
new_list.pop()

1

In [103]:
my_string = "metallica"

In [104]:
for i in my_string : 
    new_list.append(i)

In [105]:
new_list

['m', 'e', 't', 'a', 'l', 'l', 'i', 'c', 'a']

In [106]:
#listeyi direk kopyalama olayı

In [107]:
listecopy = [ element for element in new_list]

In [108]:
listecopy

['m', 'e', 't', 'a', 'l', 'l', 'i', 'c', 'a']

In [109]:
for i in listecopy :
    print(i)

m
e
t
a
l
l
i
c
a

In [110]:
#methods and functions

In [111]:
my_string = "tunahan"

In [112]:
upper_string = my_string.upper()

In [113]:
upper_string

'TUNAHAN'

In [114]:
my_string.split("U")

['tunahan']

In [115]:
def hello_world():
    print ("hello")
    print ("world")

In [116]:
hello_world()

hello
world

In [117]:
def hello_programming (name):
    print ("hello")
    print (name)

In [118]:
hello_programming("tunahan burak dirlik")

hello
tunahan burak dirlik

In [120]:
hello_programming(5000 )

hello
5000

In [121]:
def summ ( num1, num2):
    num3 = num1 + num2
    print (num3)
summ(123,123)

246

In [122]:
summ(999999999999,9999999999999999)

10000999999999998

In [123]:
def summation (num1, num2, num3):
    return num1+num2+num3
summation(1,2,33333)

33336

In [125]:
my_integer = summation(500,300,33)
print(my_integer)

833

In [126]:
type(my_integer)

int

In [131]:
my_ii = sum(10,50)

TypeError: 'int' object is not iterable

In [136]:
def control_string(s):
    if s[0] == "m":
        print("mmmm")
        s.capitalize()
        print(s)

In [133]:
control_string("deneme")

In [137]:
control_string("metallica")

mmmm
metallica

In [138]:
#arbitrary arguments & keywords

In [139]:
def summation2(*args):
    return sum(args)

In [140]:
summation2(20,30,40)

90

In [141]:
summation2(10,20,30,40,50,60,70,80)

360

In [142]:
def my_func (*args):
    print(args)
my_func(10,20)

(10, 20)

In [143]:
def my_func2(*tunahan):
    print (tunahan)
my_func2("t","u","n",1,2,3,4)

('t', 'u', 'n', 1, 2, 3, 4)

In [144]:
def example_func(**kwargs):
    print(kwargs)
example_func(run=100, swim=200, basketball=300)

{'run': 100, 'swim': 200, 'basketball': 300}

In [145]:
#practical functions

In [153]:
def divide (number):
    return number / 3
divide (10)

3.3333333333333335

In [154]:
my_list = [1,2,3,4,5]

In [155]:
for i in my_list :
    print( divide(i))

0.3333333333333333
0.6666666666666666
1.0
1.3333333333333333
1.6666666666666667

In [156]:
#MAP

In [157]:
generated_new_list = list ( map ( divide , my_list ))

In [158]:
generated_new_list

[0.3333333333333333,
 0.6666666666666666,
 1.0,
 1.3333333333333333,
 1.6666666666666667]

In [159]:
#map 2 metodu birleştirmeyi sağlar

In [160]:
#lambda kullanımı genelde tek kullanımlık fonksiyonlarda kullanılan bir gösterimdir

In [161]:
multiply = lambda number : number * 3

In [162]:
multiply(5)

15

In [163]:
my_list_3 = [ 50,100,150,200,250,300]

In [165]:
list ( map ( lambda num: num*4, my_list_3))

[200, 400, 600, 800, 1000, 1200]

In [167]:
number = 10

In [168]:
def multiply ( num ):
    number = 5
    return num*number
multiply(10)

50

In [169]:
print (number)

10

In [171]:
a = 10

In [172]:
a = 5

In [173]:
print (a)

5

In [174]:
my_string = "tunahan"

def my_func ():
    my_string = "burak"
    print(my_string)
my_func()

burak

In [175]:
my_string

'tunahan'

In [176]:
y = 10

In [177]:
def func2 ():
    global y 
    y = 5
    print (y)

In [178]:
func2()

5

In [179]:
y

5

In [180]:
##OOP CLASS

In [182]:
class Musician():
    def __init__ (sel,name,age):
        self.name = name
        self.age = age
    def sing (self):
        priint (f"we are the champions   {self.age} ")

In [183]:
my_musician = Musician ("tunahan", 24)

NameError: name 'self' is not defined