## STRING METHODS

In [1]:
my_name = "burak"

In [2]:
my_name.capitalize()

'Burak'

In [4]:
my_name

'burak'

In [5]:
my_name_capitalized = my_name.capitalize()

In [6]:
my_name_capitalized

'Burak'

In [7]:
my_name = "tunahan burak dirlik"

In [8]:
my_name.split()

['tunahan', 'burak', 'dirlik']

In [9]:
my_name_split = my_name.split()

In [10]:
my_name_split

['tunahan', 'burak', 'dirlik']

In [11]:
my_name_split[0]

'tunahan'

In [12]:
my_name_split[1]

'burak'

In [13]:
my_name_split[2]

'dirlik'

In [14]:
my_name_split[::]

['tunahan', 'burak', 'dirlik']

In [16]:
my_name_split[::-1]

['dirlik', 'burak', 'tunahan']

In [17]:
my_name_split[::-2]

['dirlik', 'tunahan']

In [18]:
my_number = 123

In [19]:
my_name.upper()

'TUNAHAN BURAK DIRLIK'

In [21]:
my_name.lower()

'tunahan burak dirlik'

In [22]:
my_name

'tunahan burak dirlik'

In [23]:
"james" * 10

'jamesjamesjamesjamesjamesjamesjamesjamesjamesjames'

In [24]:
"james"*10*10

'jamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjamesjames'

In [25]:
"jame" + 5

TypeError: can only concatenate str (not "int") to str

In [26]:
"james" + " 5 "

'james 5 '

In [27]:
name = "tunahan burak"

In [28]:
surname = " dirlik"

In [29]:
fullname = name+surname

In [30]:
fullname

'tunahan burak dirlik'